# Physical devices running Expo Go need your computer's LAN IP address.
# Do not use localhost unless you are running in a simulator/emulator.
EXPO_PUBLIC_API_URL=http://YOUR_LAN_IP:8080

# Simulator/emulator example:
# EXPO_PUBLIC_API_URL=http://localhost:8080
